body{
    padding-left: 120px;
    background-color: black;
    color: white;
}

h1{
    color: white;
    font-family: 'Teko', sans-serif;
}

#button{
    z-index: 99999;
    border-radius: 50%;
    opacity: 0.4;
    position: fixed;
    top: 2px;
    left: 2px;
    box-shadow: 8px 8px 16px darkblue;
    background-color: grey;
    width: 100px;
    height: 100px;
    transition: all 100ms 0s ease-in-out;
}

#button:hover{
    width: 100px;
    height: 100px;
    opacity: 1;
    background-color: silver;
}

#button svg{
    position: fixed;
    top: 22px;
    left: 22px;
}

#menu-game{
    z-index: 1;
    background-color: darkred;
    position: fixed;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: all 400ms 0s ease;
}

#menu-game a{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
}

#menu-game svg{
    position: fixed;
    top: 22px;
    left: 22px;
    color: black;
    transition: all 400ms 0s ease;
}

#menu-game:hover{
    z-index: 2;
    background-color: darkred;
    position: fixed;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: all 400ms 0s ease;
}

#menu-atcoder{
    z-index: 1;
    background-color: orange;
    position: fixed;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: all 400ms 0s ease;
}

#menu-atcoder a{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
}

#menu-atcoder svg{
    position: fixed;
    top: 22px;
    left: 22px;
    color: black;
    transition: all 400ms 0s ease;
}

#menu-link{
    z-index: 0;
    background-color: aqua;
    position: fixed;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: all 400ms 0s ease;
}

/*
#menu-link svg{
    position: fixed;
    top: 22px;
    left: 22px;
    color: black;
    transition: all 400ms 0s ease;
}*/