body{
    padding-left: 120px;
    background-color: black;
}

h1{
    color: white;
    font-family: 'Teko', sans-serif;
}

h5{
    color: white;
}

#code{
    background-color: grey;
    color: black;
    width: 600px;
    height: 800px;
}